<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Car List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Car Id</th>
                  <th>Make</th>
                  <th>Owner Name</th>
                  <th>Model</th>
                  <th>Year</th>
                  <th>Color</th>
                  <th>Mileage</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of carList; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.ownerName}}</td>
                    <td>{{item.make}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.mileage}}</td>
                    <td class="text-center">
                      <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                      <button class="btn btn-danger mx-2" (click)="onDelete(item.carId)">Delete</button>
                    </td>
                  </tr>
                  
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Car
      </div>
      <div class="card-body">
        <form [formGroup]="carForm">
          <div class="col-12">
            <label for="">Owner Name</label>
            <input type="text" formControlName="ownerName" class="form-control">
            <div class="text-danger">
              @if (carForm.controls['ownerName'].touched) {
                @if (carForm.controls['ownerName'].errors?.['required']){
                  <span>Owner Name is required</span>
                }
              }
            </div>
          </div>
          <div class="row">
           
            <div class="col-6">
              <label for="">Make</label>
              <input type="text" formControlName="make" class="form-control">
              <div class="text-danger">
                @if (carForm.controls['make'].touched) {
                  @if (carForm.controls['make'].errors?.['required']){
                    <span>Make is required</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">Model</label>
              <input type="text" formControlName="model" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Year</label>
              <input type="text" formControlName="year" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Color</label>
              <input type="text" formControlName="color" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Mileage</label>
              <input type="text" formControlName="mileage" class="form-control">
              <div class="text-danger">
                @if (carForm.controls['mileage'].touched) {
                  @if (carForm.controls['mileage'].errors?.['maxLength']){
                    <span>Max is 6 digits</span>
                  }
                }
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              @if (carForm.controls['carId'].value == '1') {
                <button class="btn btn-success" [disabled]="carForm.invalid" (click)="onSave()">Add Car</button>
              }@else {
                <button class="btn btn-warning" [disabled]="carForm.invalid" (click)="onUpdate()">Update Car</button>
              }
              
              
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>